@import _header
@import _top
@import _scroll

*
    margin: 0
    padding: 0
    font-family: 'Roboto Condensed', sans-serif;

h3
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    &.headline
        text-transform: none

a
    color: #ffffff
    text-decoration: none

main
    background-image: url('../img/background.png')
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    overflow: hidden
    & .container
        display: flex
        margin: 60px auto
        width: 1263px
        height: 2000px
        background: #fff
        & .col-left
            width: 224px
            background-color: #2b354b
            color: #fff
            & .content
                margin: 30px
        & .col-center
            width: 709px
            color: #000
            & .hot-news
                &__img
                    width: 709px
                &__headline
                    position: absolute
                    top: 28em
                    left: 37em
                    width: 473px
                    padding: 26px 22px
                    background-color: #2b354b
                    color: #fff
                    box-shadow: 5px 5px 15px rgba(0,0,0,.2)
                    transition: .2s
                    .headline_tags
                        margin-bottom: 5px
                        color: #aab1c1
                        .icon
                            color: #ff6c00
                            margin-left: 5px
                & .headline-link:hover
                    .hot-news__headline
                        background-color: #414f6e
                        .headline_tags
                            color: #e3e3e3
            & .news
                display: flex
                flex-wrap: wrap
                width: 800px
                margin: 100px 45px
                &__block
                    width: 219px
                    margin-right: 50px
                    margin-bottom: 50px
                    .block__img
                        height: 117px
                        width: 219px
                        background-size: cover
                    .title
                        margin-top: 14px
                        font-style: 16px
                        font-weight: 700
                    .tags
                        margin-top: 8px
                        font-style: 12px
                        color: #868686
        & .col-right
            width: 330px
            background-color: #d6d6d6
            color: #2b354b
            & .content
                margin: 30px